{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
 <div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card mx-auto" style="max-width: 100%;">
            <img src="{{ asset('images/articles/' ~ article.image) }}" class="card-img-top" alt="{{ article.titre }}">
            <div class="card-body">
                <h5 class="card-title">{{ article.titre }}</h5>
                <p class="card-text">{{ article.contenu }}</p>
                <p class="card-text"><small class="text-muted">Créé le {{ article.createdAt ? article.createdAt|date('d/m/Y H:i') : '' }}</small></p>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="card-footer">
                <a href="{{ path('app_articles_edit', {'id': article.id}) }}" class="btn btn-primary">Éditer</a>
                {{ include('articles/_delete_form.html.twig') }}
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-md-6 text-center">
        <a href="{{ path('app_articles_index') }}" class="btn btn-secondary">Retour à la liste des articles</a>
    </div>
</div>
{% endblock %}
